/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e1e; /* Dark background for navbar */
    padding: 15px 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ff5722; /* Accent color for the logo */
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    color: #e0e0e0; /* Light color for links */
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #ff5722; /* Accent color on hover */
  }
  
  .signout{
    color: #e0e0e0; /* Light color for links */
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
  }

  .signout:hover{
    color:red;
  }